/protected/config/main.php
/protected/config/console.php
/protected/runtime/application.log.1
/protected/runtime/application.log.2
/protected/runtime/application.log.3
/protected/runtime/application.log.4
/protected/runtime/application.log.5
/protected/runtime/cache-1.1.12.db
/protected/runtime/cache-1.1.5.db
/assets
log.log
refresh.log
